.hero {
  background: rgba(27, 48, 34, 0.8);
  padding: 4rem 1rem;
  text-align: center;
  color: #eae7dc;
  border-bottom: 5px solid #3c6e47;
  width: 100%;
  box-sizing: border-box;
}

.hero h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-shadow: 2px 2px #112011;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}