.navbar {
  background-color: rgba(27, 48, 34, 0.9);
  color: #eae7dc;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar .nav-links a {
  color: #eae7dc;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: #3c6e47;
}