.poem-list {
  padding: 1.5rem;
  text-align: center;
  background: linear-gradient(135deg, #1b3022e5, #285938e5); /* Gradient green for a fresh look */
  color: #f8f9fa; /* Light text for contrast */
  border-radius: 10px;
  /* margin: 1rem auto; */
  /* max-width: 1200px; */
  /* width: 90%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.poem-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .poem-list {
    padding: 1rem;
    border-radius: 8px;
  }

  .poem-cards-container {
    flex-direction: column;
    gap: 1rem;
  }
}
